<?xml version="1.0" encoding="utf-8"?>
<menu xmlns:app="http://schemas.android.com/apk/res-auto"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <item android:title="Home"
        android:id="@+id/home"/>

    <item android:title="Settings"
        android:id="@+id/set"/>

    <item android:title="About"
        android:id="@+id/abt"/>

    <item android:title="Contact"
        android:id="@+id/con"/>

    <item android:title="Share"
        android:id="@+id/shr"
        app:showAsAction="always"
        android:icon="@drawable/ic_baseline_share_24"/>
</menu>
